/* Estilos para o botão de login */
#btn-login {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}


/* Estilos para a janela de login */
.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/* Estilos para o formulário de login dentro da janela */
.login-popup form {
  display: flex;
  flex-direction: column;
}

.login-popup form input {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
}