* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Tauri", sans-serif;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: inline;
    justify-content: space-around;
}

header {
    background-color: #811e3a;
    font-weight: 400;
    width: 100%;
    height: 120px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 100px;
    align-items: center;
    justify-content: center;
    position: relative;

}

.menu li:hover>ul {
    display: block;
}

.submenuprod {
    display: none;
    position: absolute;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    line-height: 1.5em;
}

.submenuprod li:hover {
    display: block;
}

.submenuprod li a {
    color: #000000;
}

.submenuprod li a:hover {
    color: #ffffff;
}

li:hover {
    background-color: #771b35;
}

h1 a {
    color: #000000;
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 60px;
    font-weight: 580;
    border-radius: 100px;
    background-image: radial-gradient(#9b1a3f 25%, #811e3a 80%);
}

a {
    text-decoration: none;
    color: #fff;
}

.loginlink {
    position: absolute;
    color: #ffffff;
    font-weight: 580;
    font-size: 1em;
    margin-right: 30px;
    margin-left: 1500px;
    margin-bottom: 150px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
}

.loginlink:hover {
    background-color: #ffffff;
    color: #000000;
}

section h1 {
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

section p {
    font-family: sans-serif;
    font-size: 17px;
}


h1 {
    color: #000;
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    text-align: center;
}

section {
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.button {
    cursor: pointer;
    width: 300px;
    height: 50px;
    background-color: #ada5a5;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    border: none;
}

.button:hover{
    transition: 0.2s;
    color: #ffffff;
    background-color: #dc143c;
    font-weight: bolder;
    border-radius: 1px;
    border-color: #dc143c;
    border-width: 1px;
    box-shadow: 0 3px 3px #811e3a;
}

footer {
    background-color: #811e3a;
    width: 100%;
    height: 100px;
    margin: auto;
    bottom: 0;
    text-align: center;
    flex-shrink: 0;
}
