* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Tauri", sans-serif;
}

html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;

}

header {
    background-color: #811e3a;
    font-weight: 400;
    width: 100%;
    height: 120px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 100px;
    align-items: center;
    justify-content: center;
    position: relative;

}

.menu li:hover>ul {
    display: block;
}

.submenuprod {
    display: none;
    position: absolute;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    line-height: 1.5em;
}

.submenuprod li:hover {
    display: block;
}

.submenuprod li a {

    color: #000000;
}

li:hover {
    background-color: #771b35;
}


h1 a {
    color: #000000;
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 60px;
    font-weight: 580;
    border-radius: 100px;
    background-image: radial-gradient(#9b1a3f 25%, #811e3a 80%);
}


a {
    text-decoration: none;
    color: #fff;
}

.loginlink {
    position: absolute;
    color: #ffffff;
    font-weight: 580;
    font-size: 1em;
    margin-right: 30px;
    margin-left: 1500px;
    margin-bottom: 150px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
}

.loginlink:hover {
    background-color: #ffffff;
    color: #000000;
}

.box-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.form {
    background-color: #811e3a;
    height: 500px;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    filter: brightness(1) opacity(0.95);
}

label {
    /* float: left; */
    font-size: 20px;
    color: #fff;
}

button {
    width: 100%;
    border-radius: 20px;
    border: 1px solid transparent;
    height: 30px;
    color: #000;
    font-size: 18px;
}


footer {
    background-color: #811e3a;
    width: 100%;
    height: 100px;
    margin: auto;
    bottom: 0;
    text-align: center;
    flex-shrink: 0;
}